.estilo {
    background-color: #ffffff;
    width: 320px;
    height: 100vh;
    z-index: 10;
    transform: translate(0px, 0px);
}
.estilo h2{
    /* background-color: darkkhaki; */
    padding: 30px 10px;
    text-align: center;
    cursor: pointer;
}
.estilo > div{
    width: 100%;
    /* border: 1px solid teal; */
    display: flex;
    flex-direction: row;
    padding: 1px 10px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.estilo > div:hover{
    cursor: pointer;
    background-color: #5ec286;
    color: white;
}

.icone{
    flex: 30%;
    display: grid;
    place-items: center;
}

.estilo > div > p{
    width: 100%;
    /* border: 1px solid teal; */
    display: flex;
    flex-direction: row;
    padding: 15px;
    font-size: 20px;
}
.menuVisivel{
    background-color: #ffffff;
    width: 320px;
    height: 100vh;
    transform: translate(0, 0px);
}
.menuInisivel{
    background-color: #ffffff;
    width: 320px;
    height: 100vh;
    transform: translate(-320px, 0px);
}

@media (max-width: 320px){
    /* .estilo{
        background-color: darkkhaki;
        height: 3em;
    }
    .estilo h2{
        display: none;       
    }
    .estilo > div{
        display: none;       
    } */
}
/* 
.estilo descricao{
    flex: 70%;
}
.estilo descricao:hover{
    cursor: pointer;
    background-color: yellowgreen;
} */